:root{
    --alta: #27ae60;
    --baixa: #e74c4c;
    --fundo-card: #f4f7f6;
}

body {
    margin: 0;
    font-family: 'inter', sans-serif;
    background-color: #ecf0f1;
}

.container{
    padding: 40px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}