.card{
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.2 ease;
}

.card:hover {
    transform: translateY(-4px);
}

.titulo{
    margin-bottom: 12px;
    font-size: 18px;
}

.conteudo{
    font-size: 14px;
}